<launch>
	<!-- <arg name="bag_file" default="/home/lab318/ws_HCPP/src/vision_create/kf_cloud.bag" />
	<arg name="playback_speed" default="2.0" />
    <node pkg="rosbag" type="play" name="rosbag_player" output="log" args="$(arg bag_file) -r $(arg playback_speed)" /> -->

	<!--node name="addmap_node" pkg="vision_create" output="screen" type="add_map"  /-->
    <!--node name="pclpub_node" pkg="vision_create" output="screen" type="check_pcd"  /-->
    <!-- <node name="pclproc_node" pkg="vision_create_new" output="screen" type="process_pcd"  /> -->

    <param name="/model_path" type="string" value="$(find vision_create_new)/model/crane" />
    <param name="/bounding_box_path" type="string" value="$(find vision_create_new)/model/crane/bounding_boxes" />
    <node name="mesh_visualizer" pkg="vision_create" type="mesh_visualizer.py" output="screen" />

	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <!-- resolution in meters per pixel -->
    <param name="resolution" value="1.5" />
    <!-- name of the fixed frame, needs to be "/map" for SLAM -->
    <param name="frame_id" type="string" value="world" />
    <!-- max range / depth resolution of the kinect in meter -->
    <param name="sensor_model/max_range" value="100.0" />
    <param name="latch" value="true" />
    <!-- max/min height for occupancy map, should be in meters -->
    <param name="pointcloud_max_z" value="1000" />
    <param name="pointcloud_min_z" value="0" />
    <!-- topic from where pointcloud2 messages are subscribed -->
    <remap from="/cloud_in" to="/jurong/Octomap" />
    <remap from="/cloud_in" to="/raffles/Octomap" />
  	</node>

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find vision_create_new)/config/demo_config.rviz" />
</launch>

